################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/OutPut
/src/WPFDevelopers.Minimal/.vs
/src/WPFDevelopers.Minimal/Wpf45
/src/WPFDevelopers.Minimal/WPFDevelopers.Minimal.Net45x/bin
/src/WPFDevelopers.Minimal/WPFDevelopers.Minimal.Sample.Net40/bin
/src/WPFDevelopers.Minimal/WPFDevelopers.Minimal.Net40/bin
