<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/WPFDevelopers.Minimal/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="yanjinhuagood" />
            <add key="ClearTextPassword" value="SHA256:W5OMMz6Y3+elmwiK7agMfBYQCjEAkcVuY8+QpV3ONMM" />
        </github>
    </packageSourceCredentials>
</configuration>